.transactionHistory {
  width: 50%;
  margin: auto;
}

.tableList:nth-child(even) {
  background-color: rgb(220, 220, 252);
}

.tableList {
  height: 70px;
  background-color: #fff;
}

.titleItem {
  background-color: rgb(168, 234, 250);
  height: 50px;
}

.tableItem {
  text-align: center;
}

.titleList {
  text-transform: uppercase;
}
